body {
    padding: 0;
    margin: 0;
    font-family: 'Anton', sans-serif;
    color: black;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}
.header {
    background: url('../img/header-bg.jpg') no-repeat center top / cover;
}

.logo {
    margin-right: 69px;
}

header a{
    color: #ffffff;
}

.menu {
    display: flex;
    letter-spacing: 0.1em;
}

.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}

.menu li {
    margin-right: 40px;
}
.tel {
    font-size: 17px;
    text-decoration: none;
    margin-left: auto;
    letter-spacing: 0.1em;
}
.nav {
    display: flex;
    align-items: center;
    padding-top: 57px;
}
